DEBUG=False
SERVER_URL=localhost:8000

# Database
DATABASE_URL=sqlite:///../../database.sqlite3

# JWT
JWT_SECRET_KEY=<sua_key>
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=1

# Redis
REDIS_HOST=localhost
REDIS_PORT= 6379
REDIS_DB=0
REDIS_PASS=<sua_senha>

# Email / Celery
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

SMTP_HOST=smtp.gmail.com
SMTP_USER=<seu_smtp_user>
SMTP_PASS=<seu_smtp_pass>
SMTP_SENDER=<email_sender>
SMTP_PORT=465